.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(48, 42, 42);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 30%;
}

.title{
    font-size: 30px;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

.list{
    text-align: center;
    margin-right: 15%;
}

.image{
    margin-bottom: 20px;
    border-radius: 20px;
}